@charset "UTF-8";

:root {
   --background-color: rgb(255, 245, 225);
   --menu-size: 30px;
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --serif:
      Georgia, Palatino, "Palatino Linotype", "Book Antiqua", Garamond,
      "Goudy Old Style", Perpetua, Baskerville, Gentium, serif;
}

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   align-items: flex-start;
   background-color: var(--background-color);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-family: var(--serif);
   gap: 40px;
   justify-content: space-evenly;
   margin: 0px;
   padding: var(--menu-size) 10px 10px 10px;
}

.county-class {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.county-classes {
   align-items: flex-start;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px 40px;
   justify-content: center;
}

.county-code {
   font-family: var(--monospace);
}

.county-colour-name {
   border-style: solid;
   border-width: 3px;
   margin: 5px;
   padding: 9px;
}

.county-colours {
   align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   gap: 30px 40px;
   justify-content: center;
}

.county-colours .county {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.county-list {
   margin: 0px;
   padding: 0px;
}

.county-list .county {
   align-items: center;
   display: flex;
   justify-content: flex-start;
}

.county-list .county-name {
   margin: 0px 5px;
}

.county-list .county-rank {
   font-family: var(--monospace);
   margin: 0px 5px;
}

.county-matchups {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
}

.county-matchups .matchup {
   display: flex;
   flex-direction: row;
}

.county-matchups .matchup .county-colour-name {
   border-width: 0px;
   margin: 0px;
}

.county-table {
   border-spacing: 1px;
}

.county-table td.centered {
   align-items: center;
   display: flex;
   justify-content: center;
}

.county-table td:nth-child(2) {
   text-align: end;
}

.county-table td:nth-child(3) {
   text-align: start;
}

.county-table td:nth-child(4) {
   text-align: center;
}

.county-table td:nth-child(5) {
   text-align: start;
}

.county-table td:nth-child(6) {
   text-align: center;
}

.county-table td:nth-child(7) {
   text-align: end;
}

.menu {
   align-items: center;
   background-color: var(--background-color);
   color: rgb(0, 0, 0);
   cursor: pointer;
   display: flex;
   font-family: sans-serif;
   font-size: var(--menu-size);
   height: var(--menu-size);
   justify-content: center;
   left: 0px;
   position: fixed;
   top: 0px;
   width: var(--menu-size);
}

.options {
   align-items: flex-start;
   background-color: var(--background-color);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 0px 10px;
   justify-content: flex-start;
   left: var(--menu-size);
   padding: 5px;
   position: fixed;
   top: 0px;
}

.options fieldset {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
